form{
    display:flex;
    width: 100%;
    margin:20px auto;
    padding:100px 0;
    justify-content: center;
    align-items: center;
     flex-direction: column;
}
label {
   padding:15px;
   color:#220505;
   font-weight: 600;
}

input[type="text"] {
    outline: none;
    padding:5px;
    font-size:15px;
    margin-left: 18px;
    border-radius: 10px;
    border:none;
}

textarea,
textarea:focus{
    resize: none;
    padding:30px;
    border-radius: 6px;
    border:none;
    outline: none;
    text-align: left;
}
input[type="submit"]{
    outline: none;
    font-size:20px;
    border-radius: 7px;
    padding:6px 10px;
    background:#129cf3;
    color: #fff;
    border:none;
    transition: .3s ease-in-out;

}
input[type="submit"]:hover{
    background:#fff;
    color:#129cf3;
    cursor:pointer;
}